<div class="topbar">
  <div class="container topbar-inner">
    <div class="topbar-left">
      <span><i class="fa fa-phone"></i> (+88) 01883 385 687</span>
      <span><i class="fa fa-envelope"></i> nextuniqbd@gmail.com</span>
    </div>
    <div class="topbar-right">
      <span class="promo-text"><i class=""></i> </span>
      <div class="">
       
      </div>
      {% if request.user.is_authenticated %}
        <a href="{% if request.user.is_superuser or perms.auth.view_user or perms.category.view_category or perms.category.view_brand or perms.category.view_product or perms.purchase.view_purchase or perms.sitepages.view_order or perms.blog.view_blogpost or perms.sitepages.view_heroslide or perms.company.view_companyprofile %}{% url 'dashboard_home' %}{% else %}{% url 'frontend_home' %}{% endif %}"><i class="fa fa-user"></i> {{ request.user.first_name|default:request.user.username }}</a>
        <a
          href="{% url 'auth_logout' %}"
          onclick="event.preventDefault(); document.getElementById('topbar-logout-form').submit();"
        ><i class="fa fa-sign-out"></i> Logout</a>
        <form id="topbar-logout-form" action="{% url 'auth_logout' %}" method="post" style="display: none;">
          {% csrf_token %}
        </form>
      {% else %}
        <a href="{% url 'auth_login' %}"><i class="fa fa-user"></i> Login</a>
        <a href="{% url 'auth_register' %}"><i class="fa fa-user-plus"></i> Register</a>
      {% endif %}
    </div>
  </div>
</div>

